@import "base/variables";

// // Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// compile buttons & headings for the editor.
@import "../../node_modules/bootstrap/scss/_buttons";
@import "../../node_modules/bootstrap/scss/_type";

@import "components/_blockquotes";
@import "components/_borders";
//@import "_global";

body {
	// pro-tip, use #ff0000 for more style points.
// 	background-color: aqua !important;
}

// change to light grey so it's visible with editor white background.
a.btn-light {
	background-color: lighten( $gray-300, 10% ) !important;
}
a.btn-outline-light {
 	color: $primary !important;
 	border-color: lighten( $gray-300, 10% ) !important;

 	&:hover {
 		background-color: lighten( $gray-300, 10% ) !important;
 	}
}
a.btn-block {
	max-width: 90%;
}
span.ps {
	border-bottom: 1px dashed #666;
}
.mce-content-body a[data-mce-selected] {

	&.btn {
		padding: .3125rem 2.375rem;
		border-color: #bfe6ff;
	}
	&.btn-sm {
		padding: .25rem .5rem;
	}
	&.btn-lg {
		padding: .71875rem 2.875rem;
	}
}
